.amenity-card {
  margin-bottom: 40px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;

  &:hover {
    transform: scale(1.05);
  }

  .amenity-info {
    text-align: left;
    font-size: 18px;

    p {
      margin: 10px 0;
      font-weight: 500;
      color: #444;
    }
  }

  .compensation {
    font-size: 16px;
    font-weight: bold;
    color: #d9534f;
  }
}
