.landlord-detail-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #f4f4f4;
}

.landlord-card {
  width: 85%;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
}

.title {
  color: #4a5568;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.image-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.content-wrapper {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.left-section {
  flex: 1;
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #4a5568;
  color: white;
  border-radius: 6px;
  transition: 0.3s;
}

.approve {
  background-color: #2dd955;  
  border: 1px solid #2dd955;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;

  &:hover, &:focus {
    background-color: #4caf50 !important;  
    border-color: #4caf50 !important;
    color: white !important;
  }
}

.reject {
  background-color: #eb5461;  
  border: 1px solid #eb5461;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;

  &:hover, &:focus {
    background-color: #d32f2f !important;  
    border-color: #d32f2f !important;
    color: white !important;
  }
}


